In [1]:
# Vamos aprender a re-indexar e mudar o índice caso seja preciso.

import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
serie = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

In [3]:
serie

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
nova_serie = serie.reindex(['A', 'B', 'C', 'D', 'E', 'F']) # Método reindex() utilizado para mudar um índice.

In [5]:
nova_serie

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# Pandas automaticamente preenche o calor de um campo como nulo caso não seja passado nenhum conteúdo para ele.

# Mas nós podemos preencher valores novos.

nova_serie.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
# Também podemos usar métodos específicos para valores já preenchidos.

serie_atual = Series(['USA', 'BR', 'ARG', 'ITA', 'MEX'], index = [0, 1, 2, 3, 4])

In [9]:
serie_atual

0    USA
1     BR
2    ARG
3    ITA
4    MEX
dtype: object

In [12]:
ranger = range(15)

ranger

range(0, 15)

In [13]:
for elemento in ranger:
    print(elemento)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [14]:
serie_atual.reindex(ranger, method='ffill') 

# O method ffill pega um valor e encaminha ele para próximos índices até atingir algo que já tenha um valor.

0     USA
1      BR
2     ARG
3     ITA
4     MEX
5     MEX
6     MEX
7     MEX
8     MEX
9     MEX
10    MEX
11    MEX
12    MEX
13    MEX
14    MEX
dtype: object

In [15]:
# Existem diferentes métodos que você pode passar.

# Digamos que você queira reindexar linhas ou colunas. Para isso faremos um DataFrame

dframe = DataFrame(randn(25).reshape((5,5)), index = ['A', 'B', 'D', 'E', 'F'], 
                    columns = ['col1', 'col2', 'col3', 'col4', 'col5'])

In [16]:
dframe

       col1      col2      col3      col4      col5
A -0.673947 -1.303704  0.660307  0.343085 -0.431976
B -0.762655 -0.229896 -0.459799  0.214980  0.786910
D -1.301261  0.305623  0.967978 -0.078042  1.580406
E  0.086163 -1.757091  0.705821 -0.901804 -0.269069
F  1.185539  0.878120  0.690226  0.357940  0.042587

In [17]:
# Re-indexando no DataFrame

dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

dframe2

       col1      col2      col3      col4      col5
A -0.673947 -1.303704  0.660307  0.343085 -0.431976
B -0.762655 -0.229896 -0.459799  0.214980  0.786910
C       NaN       NaN       NaN       NaN       NaN
D -1.301261  0.305623  0.967978 -0.078042  1.580406
E  0.086163 -1.757091  0.705821 -0.901804 -0.269069
F  1.185539  0.878120  0.690226  0.357940  0.042587

In [24]:
# Também podemos re-indexar explicitamente as colunas

novas_colunas = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

dframe2.reindex(columns = novas_colunas)

       col1      col2      col3      col4      col5  col6
A -0.673947 -1.303704  0.660307  0.343085 -0.431976   NaN
B -0.762655 -0.229896 -0.459799  0.214980  0.786910   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.301261  0.305623  0.967978 -0.078042  1.580406   NaN
E  0.086163 -1.757091  0.705821 -0.901804 -0.269069   NaN
F  1.185539  0.878120  0.690226  0.357940  0.042587   NaN

In [25]:
dframe2

       col1      col2      col3      col4      col5
A -0.673947 -1.303704  0.660307  0.343085 -0.431976
B -0.762655 -0.229896 -0.459799  0.214980  0.786910
C       NaN       NaN       NaN       NaN       NaN
D -1.301261  0.305623  0.967978 -0.078042  1.580406
E  0.086163 -1.757091  0.705821 -0.901804 -0.269069
F  1.185539  0.878120  0.690226  0.357940  0.042587

In [26]:
# Também conseguimos indexar índices utilizando .ix

dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], novas_colunas]

C:\Users\lucca.matos\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lucca.matos\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until

       col1      col2      col3      col4      col5  col6
A -0.673947 -1.303704  0.660307  0.343085 -0.431976   NaN
B -0.762655 -0.229896 -0.459799  0.214980  0.786910   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.301261  0.305623  0.967978 -0.078042  1.580406   NaN
E  0.086163 -1.757091  0.705821 -0.901804 -0.269069   NaN
F  1.185539  0.878120  0.690226  0.357940  0.042587   NaN