In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [5]:
serie1 = Series(np.arange(3), index = ['A', 'B', 'C'])

In [6]:
serie1

A    0
B    1
C    2
dtype: int32

In [7]:
serie1.drop('B')

A    0
C    2
dtype: int32

In [18]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index=['SF', 'LA', 'NY'], columns=['pop', 'size', 'year'])

In [20]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [21]:
dframe2 = dframe1.drop('LA')

In [22]:
dframe2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [26]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [28]:
dframe1.drop('year', axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7