In [3]:
# Seleção de entradas

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
serie = Series(np.arange(3), index = ['A', 'B', 'C'])

In [5]:
serie

A    0
B    1
C    2
dtype: int32

In [6]:
serie = 2 * serie

In [7]:
serie

A    0
B    2
C    4
dtype: int32

In [8]:
# Vamos aprende como selecionamos alguns dados do DataFrame.

# Pdemos pegar entradas pelo nome do índice de uma série.

serie['B']

2

In [9]:
serie[1] # Posição do índice

2

In [10]:
serie[0:3] # Pegando entradas pela posição dos índices.

A    0
B    2
C    4
dtype: int32

In [11]:
serie[['A', 'B']] # Também conseguimos pegar uma entrada passa uma lista com os índices.

A    0
B    2
dtype: int32

In [12]:
serie[serie > 2] # Traduzindo: pegue todos o valores da serie que são maiores de 2.

C    4
dtype: int32

In [13]:
serie[serie > 2] = 6

In [14]:
serie

A    0
B    2
C    6
dtype: int32

In [16]:
# Agora que vimos como selacionar dados em uma Serie, vamos aplicar o mesmo para DataFrames

dframe = DataFrame( np.arange(25).reshape((5,5)), index = ['NYC', 'LA', 'SF', 'DC', 'CHI'],
                  columns = ['A', 'B', 'C', 'D', 'E'])

In [17]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [18]:
dframe['B']

NYC     1
LA      6
SF     11
DC     16
CHI    21
Name: B, dtype: int32

In [21]:
dframe[['A', 'B', 'D']]

      A   B   D
NYC   0   1   3
LA    5   6   8
SF   10  11  13
DC   15  16  18
CHI  20  21  23

In [23]:
dframe[dframe['C'] > 5] # Retorne os valores do DataFrame levando em consideração os valores da coluna C serem > 8.

      A   B   C   D   E
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [24]:
# Também conseguimos mostrar um DataFrame booleano.

dframe > 10 # Valores do DataFrame são maiores que 10? True or False.

# Podemos utilizar o ix para rotular um índice.

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
CHI   True   True   True   True   True

In [25]:
dframe.ix['LA'] # Por nome do índice

C:\Users\lucca.matos\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32

In [26]:
dframe.ix[1] # Por posição do índice

C:\Users\lucca.matos\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int32